@import "../../../style/share.css";

#course {
  grid-column: 1/7;
}

#course-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin-left: var(--padding-x);
  margin-right: var(--padding-x);
  padding-top: 5rem;
}

#course-title,
#course-img,
.description_points,
.course_margin_top {
  margin-top: 2rem;
}

#course-title {
  grid-column: 1/7;
  height: 10vh;
}

#course-title h1 {
  text-transform: uppercase;

  margin-top: 1.5rem;

}

#course-title span {
  border-bottom: 1px solid grey;
}

#course-container .nav_container {
  background-color: rgba(255, 255, 255, 1) !important;
  border-bottom: 1px solid var(--third-color) !important;
  width: 100% !important;
  padding-top: 0rem !important;
  position: fixed !important;
}


#main-feature ul li {
  padding: var(--first-padding);
}